{
  "development": {
    "username": "{{ mysql_user }}",
    "password": "{{ mysql_password }}",
    "database": "{{ mysql_db }}",
    "host": "{{ mysql_host }}",
    "dialect": "mysql",
    "dialectOptions": {
      "ssl": false
    }
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "use_env_variable": "JAWSDB_URL",
    "dialect": "mysql"
  }
}
