[Unit]
Description=EpicBook Node.js Application
Documentation=https://github.com/sqenchill/theepicbook
After=network.target

[Service]
Type=simple
User={{ app_user }}
WorkingDirectory={{ app_dir }}
ExecStart=/usr/bin/node server.js
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=epicbook
Environment=NODE_ENV=development
Environment=PORT={{ app_port }}

[Install]
WantedBy=multi-user.target
